<!-- body starts -->
<body>
  <!-- section -->
  <section class="register">
    <div class="register-full">
      <div class="register-left">
        <div class="register">
          <div class="logo">
            <a href="#"><span><img src="../../../../assets/graduation-cap.png"></span></a>
          </div>
          <h1>Register to Share a Book</h1>
          <p>You are 30 seconds away from connecting with Share a book</p>
          <p>Connect using:</p>
          <div class="content3">
            <ul>
              <li><a class="" href="#"><img src="../../../../assets/google1.png"></a></li>
              <li><a class="read" href="#"><img src="../../../../assets/facebook2.png"></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="register-right">
        <div class="register-in">
          <h2><span><img src="../../../../assets/pencil.png"></span> register here</h2>
          <div class="register-form">
            <form [formGroup]="registrationForm" action="#" method="post">
              <div class="fields-grid">
                <div class="styled-input agile-styled-input-top">
                  <input type="text" formControlName="userName" required> 
                  <label>User Name</label>
                  <span></span>
                </div>
                <div class="styled-input">
                  <input type="email" formControlName="email" required>
                  <label>Email</label>
                  <span></span>
                </div>
                <div class="styled-input">
                  <input type="number" formControlName="phone" required>
                  <label>Contact Number</label>
                  <span></span>
                </div>
                <div class="styled-input">
                  <input type="text" formControlName="city" required>
                  <label>City</label>
                  <span></span>
                </div>
                <div class="styled-input">
                  <input type="number" formControlName="postalCode" required>
                  <label>Postal Code</label>
                  <span></span>
                </div>
                <div class="styled-input">
                  <input type="password" formControlName="password" required>
                  <label>Password</label>
                  <span></span>
                </div>
                <div class="styled-input">
                  <input type="password" formControlName="confirmPassword" required>
                  <label>Confirm Password</label>
                  <span></span>
                </div>
                <div class="styled-input agile-styled-input-top">
                  <select id="type" formControlName="type" required>
                    <option value="">I'm a</option>
                    <option [value]="type" *ngFor="let type of types" >{{type}}</option>
                  </select>
                  <span></span>
                </div>
                <div class="clear"> </div>
                 <label class="checkbox"><input type="checkbox" formControlName="check1"><i></i>Subscribe to <a href="#"> SMS notifications</a></label>
                <div class="clear"> </div>
                 <label class="checkbox"><input type="checkbox" formControlName="check2"><i></i>I agree to the <a href="#">Terms and Conditions</a></label>
              </div>
              <input type="submit" value="Register" [disabled]="!registrationForm.valid" [routerLink]="['/users/u-dashboard']">
            </form>
            {{registrationForm.value | json}}
          </div>
        </div>
        <div class="clear"> </div>
      </div>
    <div class="clear"> </div>
    </div>
  </section>
  <!-- //section -->
  </body>	
  <!-- //body ends -->