<!--==========================
                Footer
============================-->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5 col-md-6 footer-info">
          <h3>Share a Book</h3>
          <p>
            Cras fermentum odio eu feugiat lide par naso tierra. Justo eget
            nada terra videa magna derita valies darta donna mare fermentum
            iaculis eu non diam phasellus. Scelerisque felis imperdiet proin
            fermentum leo. Amet volutpat consequat mauris nunc congue.
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            A108 Adam Street <br />
            New York, NY 535022<br />
            United States <br />
            <strong>Phone:</strong> +1 5589 55488 55<br />
            <strong>Email:</strong> info@example.com<br />
          </p>

          <div class="social-links">
            <a href="#" class="android"><i class="fa fa-android"></i></a>
            <a href="#" class="apple"><i class="fa fa-apple"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>Share a Book</strong>. All Rights Reserved.
    </div>
  </div>
</footer>
<!-- #footer -->

