<body>
<div class="w3l-head">
  <h1>Register Book Shop</h1>
  </div>
  <div class="w3ls-form">
  <form [formGroup]="bookstoreRegistrationForm" action="#" method="post">
      <div class="w3l-last-grid1">
        <div class="w3l-grid1">
          <label class="text">BookStore name</label>
          <div class="w3l-div">
            <input 
                    type="text" 
                    formControlName="bookstoreName"
                    [class.is-invalid]="bookstoreName.invalid && 
                                        bookstoreName.touched"
                    [class.is-valid]="bookstoreName.valid">
          </div>
          <small 
                  *ngIf="(bookstoreName.errors && submitted==true) ||
                  ((bookstoreName).touched && bookstoreName.invalid)">
            <small *ngIf="bookstoreName.errors?.required">Book Store Name is required</small>
          </small>
        </div> 
        <div class="w3l-grid2">
        <label class="text">Business Reg. Number</label>
        <div class="w3l-div">
          <input type="text" formControlName="regNumber" required>
        </div>
        </div>
        <div class="clear"></div>
      </div>	
      <div class="w3l-last-grid1">
        <div class="w3l-grid1">
          <label class="text">Email</label>
          <div class="w3l-div">
            <input type="email" formControlName="email" required>
          </div>
        </div>
        <div class="w3l-grid2">
          <label class="text">Contact number</label>
          <div class="w3l-div">
            <input type="number" formControlName="contactNumber" required>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="w3l-last-grid1">
        <div class="w3l-grid1">
          <label class="text">Manager Name</label>
          <div class="w3l-div">
            <input type="text" formControlName="managerName" required>
          </div>
        </div>
        <div class="w3l-grid2">
          <label class="text">Manager NIC</label>
          <div class="w3l-div">
            <input type="text" formControlName="managerNIC" required>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="w3l-last-grid1">
        <div class="w3l-grid1">	
          <label class="text">Address</label>
          <div class="w3l-div">
            <input type="text" formControlName="address" required>
          </div>
        </div>
        <div class="w3l-grid2">	
          <label class="text">City</label>
          <div class="w3l-div">
            <input type="text" formControlName="city" required>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      
      <div class="w3l-right-grid1">
        <div class="w3l-grid1">
          <label class="text">State</label>
          <div class="w3l-div">
            <input type="text" formControlName="state" required>
          </div>
        </div>
        <div class="w3l-grid2">
          <label class="text">Postal Code</label>
          <div class="w3l-div">
            <input type="number" formControlName="postalCode" required>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="w3l-right-grid1">
        <div class="w3l-grid1">
          <label class="text">User Name</label>
          <div class="w3l-div">
            <input type="text" formControlName="userName" required>
          </div>
        </div>
        <div class="w3l-grid2">
          <label class="text">Password</label>
          <div class="w3l-div">
            <input type="password" formControlName="password" required>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      
      <div class="clear"></div>
      <div class="w3ls-submit">
        <input 
                type="submit" 
                value="Register Book Store" 
                (click)=onSubmit()">
      </div>
  </form>
  {{bookstoreRegistrationForm.value | json}}
  </div>>
</body>