<!-- body starts -->

<body>
	<!-- section -->
	<section class="register">
	  <div class="register-full">
		<div class="register-left">
		  <div class="register">
			<div class="logo">
			  <!-- <a href="#"><span><img src="../../../../assets/graduation-cap.png" /></span></a> -->
			</div>
		  </div>
		</div>
		<div class="register-right">
		  <div class="register-in">
			<h2>
			  <span><img src="../../../../assets/pencil.png" /></span> add new item
			</h2>
			<div class="register-form">
			  <form [formGroup]="bookAddForm" action="#" method="post">
				<div class="fields-grid">
				  <div class="styled-inputx">
					<div class="styled-input agile-styled-input-top">
					  <input  
							  type="text" 
							  formControlName="bookName" 
							  [class.is-invalid]="bookName.invalid && 
												  bookName.touched"
							  [class.is-valid]="bookName.valid">
					  <label>Book Name *</label>
					  <span></span>
					</div>
					<small 
							*ngIf="(bookName.errors && submitted==true) ||
								   ((bookName).touched && bookName.invalid)">
					  <small *ngIf="bookName.errors?.required">Book Name is required</small>
					</small>
				  </div>
				  <div class="styled-inputx">
					<div class="styled-input agile-styled-input-top">
					  <input  
							  type="text" 
							  formControlName="ISBN" 
							  [class.is-invalid]="ISBN.invalid && 
												  ISBN.touched"
							  [class.is-valid]="ISBN.valid && ISBN.touched && ISBN.dirty">
					  <label>ISBN</label>
					  <span></span>
					</div>
					<!-- </div>
					<small 
							*ngIf="(name.errors && submitted==true) ||
								   ((name).touched && name.invalid)">
					  <small *ngIf="name.errors?.required">Name is required</small>
					</small> -->
				  </div>
				  <div class="styled-inputx">
					<div class="styled-input">
					  <input 
							  type="text" 
							  formControlName="author"
							  [class.is-invalid]="author.invalid && 
												  author.touched"
							  [class.is-valid]="author.valid && author.touched && author.dirty">
					  <label>Author</label>
					  <span></span>
					</div> 
				  </div>
				  <div class="styled-inputx">
					<div class="styled-input">
					  <input 
							  type="text" 
							  formControlName="publisher"
							  [class.is-invalid]="publisher.invalid && 
												  publisher.touched"
							  [class.is-valid]="publisher.valid && publisher.touched && publisher.dirty">
					  <label>Publisher</label>
					  <span></span>
					</div> 
					<!-- <small 
							*ngIf="(city.errors && submitted==true) ||
							(city.touched && city.invalid)">
					  <small *ngIf="city.errors?.required">City is required</small>
					</small> -->
				  </div>
				  <div class="styled-inputx">
					<div class="styled-input">
					  <input 
							  type="number" 
							  formControlName="copies" 
							  [class.is-invalid]="copies.invalid && 
												  copies.touched"
							  [class.is-valid]=" copies.valid &&
												 copies.touched && copies.dirty">
					  <label>No: of Copies</label>
					  <span></span>
					</div> 
					<small 
							*ngIf="((copies).touched && copies.invalid)">
					  <small *ngIf="copies.errors?.min">No: of copies should be a positive number</small>
					</small>
				  </div>
				  <div class="styled-inputx">
					<div class="styled-input agile-styled-input-top">
					  <select 
							  id="examType" 
							  formControlName="examType"
							  [class.is-invalid]="examType.invalid && 
												  examType.touched"
							  [class.is-valid]="examType.valid">
						<option value="">Exam Type : *</option>
						<option [value]="examType" *ngFor="let examType of examTypes">
						  {{examType}}
						</option>
					  </select>
					  <span></span>
					</div>
					<small 
							 *ngIf="(examType.errors && submitted==true) ||
							 (examType.touched && examType.invalid)">
					   <small *ngIf="examType.errors?.required">Exam type should be selected</small>
					</small>
				  </div>
				  <div class="styled-inputx">
					<div class="styled-input agile-styled-input-top">
					  <input  
							  type="text" 
							  formControlName="subject" 
							  [class.is-invalid]="subject.invalid && 
												  subject.touched"
							  [class.is-valid]="subject.valid">
					  <label>Subject *</label>
					  <span></span>
					</div>
					<small 
							*ngIf="(subject.errors && submitted==true) ||
								   ((subject).touched && subject.invalid)">
					  <small *ngIf="subject.errors?.required">Subject is required</small>
					</small>
				  </div>
				  <div class="styled-inputx">
					<div class="styled-input agile-styled-input-top">
					  <select 
							  id="mediumType" 
							  formControlName="mediumType"
							  [class.is-invalid]="mediumType.invalid && 
												  mediumType.touched"
							  [class.is-valid]="mediumType.valid">
						<option value="">Medium : *</option>
						<option [value]="mediumType" *ngFor="let mediumType of mediumTypes">
						  {{mediumType}}
						</option>
					  </select>
					  <span></span>
					</div>
					<small 
							 *ngIf="(mediumType.errors && submitted==true) ||
							 (mediumType.touched && mediumType.invalid)">
					   <small *ngIf="mediumType.errors?.required">Medium should be selected</small>
					</small>
				  </div>
				  <div class="styled-inputx">
					<div class="styled-input agile-styled-input-top">
					  <select 
							  id="itemType" 
							  formControlName="itemType"
							  [class.is-invalid]="itemType.invalid && 
												  itemType.touched"
							  [class.is-valid]="itemType.valid">
						<option value="">Item Type : *</option>
						<option [value]="itemType" *ngFor="let itemType of itemTypes">
						  {{itemType}}
						</option>
					  </select>
					  <span></span>
					</div>
					<small 
							 *ngIf="(itemType.errors && submitted==true) ||
							 (itemType.touched && itemType.invalid)">
					   <small *ngIf="itemType.errors?.required">Item type should be selected</small>
					</small>
				  </div>
				  <div class="styled-inputx">
					<div class="styled-input">
					  <input 
							  type="number" 
							  formControlName="price" 
							  [class.is-invalid]="price.invalid && 
												  price.touched"
							  [class.is-valid]=" price.valid &&
												 price.touched">
					  <label>Price (LKR) *</label>
					  <span></span>
					</div> 
					<small 
							*ngIf="((price).touched && price.invalid)">
					  <small *ngIf="price.errors?.min">Price should be a positive value</small>
					  <small *ngIf="price.errors?.required">Price should entered</small>
					</small>
				  </div>
				  <div class="clear"></div>
				  </div>
				<input 
						type="submit" 
						value="Add Item" 
						(click)="onSubmit()"
						>
			  </form>
			  {{ bookAddForm.value | json }}
			</div>
		  </div>
		  <div class="clear"></div>
		</div>
		<div class="clear"></div>
	  </div>
	</section>
	<!-- //section -->
  </body>
  <!-- //body ends -->