<header id="header">
  <div class="container-fluid">
    <div id="logo" class="pull-left">
      <h1>
        <a href="#intro"><img src="../../../assets/ShareaBook4.png"></a>
      </h1>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="nav-item menu-active"><a class="nav-link" href="#intro">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#about">About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="#facts">Facts</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/login']">Login</a></li>
      </ul>
    </nav>
    <!-- #nav-menu-container -->
  </div>
</header>
<section id="intro">
  <div class="intro-container">
    <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

      <ol class="carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <div class="carousel-item active">
          <div class="carousel-background"><img src="../../../assets/home-banner.jpg" alt=""></div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2>Looking for that one book? Find it. Get it.</h2>
              <p>BEST ONLINE EDUCATION SERVICE IN SRI LANKA</p>
              <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
        </div>
        <!--
            <div class="carousel-item">
            <div class="carousel-background"><img src="assets/img/home-banner.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>At vero eos et accusamus</h2>
                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut.</p>
                <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="assets/img/home-banner.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Temporibus autem quibusdam</h2>
                <p>Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt omnis iste natus error sit voluptatem accusantium.</p>
                <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="assets/img/home-banner.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Nam libero tempore</h2>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum.</p>
                <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="assets/img/home-banner.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Magnam aliquam quaerat</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      -->
      </div>
    </div>
  </div>
</section>
<!-- #intro -->
<main id="main">
  <!--==========================
            Featured Services Section
          ============================-->
  <section id="featured-services">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="col-lg-5 box box-bg">
          <i class="fa fa-university"></i>
          <p class="description">
            Voluptatum deleniti atque corrupti quos dolores et quas molestias
            excepturi sint occaecati cupiditate non provident?
          </p>
          <h4 class="title"><a [routerLink]="['/bookstores/b-register']">Register as a Bookstore</a></h4>
        </div>

        <div class="col-lg-5 box box-bg">
          <i class="fa fa-graduation-cap"></i>
          <p class="description">
            Minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat tarad limino ata?
          </p>
          <h4 class="title"><a [routerLink]="['/users/u-register']">Register as a User</a></h4>
        </div>
      </div>
    </div>
  </section>
  <!-- #featured-services -->

  <!--==========================
            About Us Section
          ============================-->
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>About Us</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </header>

      <div class="row about-cols">
        <div class="col-md-4">
          <div class="about-col">
            <div class="img">
              <img src="../../../assets/c2.jpg" alt="" class="img-fluid" />
              <div class="icon">
                <i class="fa fa-clock-o"></i>
              </div>
            </div>
            <h2 class="title">Our Mission</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod
              tempor ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="about-col">
            <div class="img">
              <img src="../../../assets/c2.jpg" alt="" class="img-fluid" />
              <div class="icon"><i class="fa fa-spinner"></i></div>
            </div>
            <h2 class="title">Our Plan</h2>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
              illo inventore veritatis et quasi architecto beatae vitae dicta
              sunt explicabo.
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="about-col">
            <div class="img">
              <img src="../../../assets/c2.jpg" alt="" class="img-fluid" />
              <div class="icon"><i class="fa fa-eye"></i></div>
            </div>
            <h2 class="title">Our Vision</h2>
            <p>
              Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit,
              sed quia magni dolores eos qui ratione voluptatem sequi nesciunt
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #about -->

  <!--==========================
            Services Section
          ============================-->
  <section id="services">
    <div class="container">
      <header class="section-header wow fadeInUp">
        <h3>WE PROVIDE YOU</h3>
        <p>
          Laudem latine persequeris id sed, ex fabulas delectus quo. No vel
          partiendo abhorreant vituperatoribus, ad pro quaestio laboramus. Ei
          ubique vivendum pro. At ius nisl accusam lorenta zanos paradigno
          tridexa panatarel.
        </p>
      </header>
      <div class="row about-cols">
        <div class="col-md-3">
          <div class="about-col">
            <div class="img">
              <img src="../../../assets/c2.jpg" alt="" class="img-fluid" />
            </div>
            <h2 class="title">Books</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod
              tempor ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="about-col">
            <div class="img">
              <img src="../../../assets/c2.jpg" alt="" class="img-fluid" />
            </div>
            <h2 class="title">Papers</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod
              tempor ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="about-col">
            <div class="img">
              <img src="../../../assets/c2.jpg" alt="" class="img-fluid" />
            </div>
            <h2 class="title">Notes</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod
              tempor ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="about-col">
            <div class="img">
              <img src="../../../assets/c2.jpg" alt="" class="img-fluid" />
            </div>
            <h2 class="title">Many More</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod
              tempor ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #services -->

<!--==========================
            Facts Section
    ============================-->
    <section id="facts">
      <div class="container">
        <header class="section-header">
          <h3>Facts</h3>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque
          </p>
        </header>

        <div class="row counters">
          <div class="col-lg-4 col-4 text-center">
            <span data-toggle="counter-up">200+</span>
            <p>Users</p>
          </div>

          <div class="col-lg-4 col-4 text-center">
            <span data-toggle="counter-up">50+</span>
            <p>Registered Bookshops</p>
          </div>

          <div class="col-lg-4 col-4 text-center">
            <span data-toggle="counter-up">1000+</span>
            <p>Study Materials</p>
          </div>
        </div>

        <div class="facts-img">
          <img src="../../../assets/banner.jpg" alt="" class="img-fluid" />
        </div>
      </div>
    </section>
    <!-- #facts -->
      <!--============================
            Contact Section
          ============================-->
          <section id="contact" class="section-bg wow fadeInUp">
            <div class="container">
              <div class="section-header">
                <h3>Contact Us</h3>
              </div>
      
              <div class="row contact-info">
                <div class="col-md-4">
                  <div class="contact-address">
                    <i class="ion-ios-location-outline"></i>
                    <h3>Address</h3>
                    <address>A108 Adam Street, NY 535022, USA</address>
                  </div>
                </div>
      
                <div class="col-md-4">
                  <div class="contact-phone">
                    <i class="ion-ios-telephone-outline"></i>
                    <h3>Phone Number</h3>
                    <p><a href="tel:+155895548855">+1 5589 55488 55</a></p>
                  </div>
                </div>
      
                <div class="col-md-4">
                  <div class="contact-email">
                    <i class="ion-ios-email-outline"></i>
                    <h3>Email</h3>
                    <p><a href="mailto:info@example.com">info@example.com</a></p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- #contact -->
        </main>
<app-back-to-top></app-back-to-top>
<app-footer></app-footer>


