<body id="body">
  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto"><img src="../../../../assets/ShareaBook4.png"></a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="nav-item menu-active"><a class="nav-link" href="#intro">Home</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/login']">Login</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">

    <div class="intro-content">
      <h2><span>Connect</span> you with<br>Book Lovers!</h2>
    </div>

    <div id="intro-carousel" class="owl-carousel">
      <div class="item" style="background-image: url('../../../../assets/reg.jpg');"></div>
    </div>

  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Guidelines Section
    ============================-->
    <section id="guidelines">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 content">
            <h2>Guidelines to register your Book Shop</h2>
          </div>
          <div class="col-lg-12 content">
            <ul>
              <li><i class="fa fa-check"></i>We require you to fill the following forms and send them to us using
                registered post.</li>
              <li><i class="fa fa-check"></i>After we receive your documents, we will verify your bookshop(s) and
                regiter you to our system. Login credentials willbe emailed to the email address provided.</li>
              <li><i class="fa fa-check"></i>If you own a bookshop chain, we consider each branch as a seperate
                bookshop. Therefore, you will have to provide
                details of the branches you wish to register to the system (not necessarily all the branches).</li>
              <li><i class="fa fa-check"></i>You will be provided login details for each branch that can be managed by
                the branch manager, and one master account to handle all branches.</li>
              <li><i class="fa fa-check"></i>In the meantime, you may email the list of A/L and O/L study materials
                available at your bookshop. This needs to be provided seperately for each branch.</li>
              <li><i class="fa fa-check"></i>The registration fees are: 
                <br /> Rs. 300 - single-branch bookshop
                <br /> Rs. 500 - bookshop chain with 2 to 5 branches
                <br /> Rs. 800 - bookshop chain with 6 or more branches
                <br /> that is registered to our system.</li>
              <li><i class="fa fa-check"></i>The registration fee will be considered as the subscription fee for the 1st
                month of your registration. You can add as many O/L and A/L study materials as you want during this
                time.</li>
              <li><i class="fa fa-check"></i>From the 2nd month of your registration, a subscription fee of Rs 50.00
                will be charged for each new book that is uploaded to our system. The fee will be charged at the end of
                the month.</li>
              <li><i class="fa fa-check"></i>You are requested to pay the registration fee and enclose the bank slip or
                email the online banking receipt while you are sending in your documents.</li>

            </ul>

          </div>
        </div>

      </div>
    </section><!-- #guildelines -->

    <!--==========================
      Documents Section
    ============================-->
    <section id="documents">
      <div class="container">
        <div class="section-header">
              Please download the required form set for your scenario, fill them and send them to us over the registered post to Get Started!
              An Instruction guide is attached with both the document sets listed below.
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box">
              <div class="icon"><i class="fa fa-user"></i></div>
              <h4 class="title">Document set for single-branch bookshop</h4>
              <p>
                  <a href="#" class="description">Single-branch.zip</a>
              </p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="box">
              <div class="icon"><i class="fa fa-users"></i></div>
              <h4 class="title">Document set for chain of all sizes</h4>
              <p>
                  <a href="#" class="description">Multiple-branch.zip</a>
              </p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="box">
              <div class="icon"><i class="fa fa-file"></i></div>
              <h4 class="title">Individual Forms</h4>
              <p>
                  <a href="#" class="description">Documents.pdf</a>
              </p>
            </div>
          </div>

        </div>
      </div>
    </section><!-- #documents -->

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="upload">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
              <h3 class="cta-title">Upload Your Book List Here</h3>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="#">Upload Book List</a>
            </div>
          </div>
  
        </div>
      </section><!-- #call-to-action -->
  

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container">
        <div class="section-header">
          <h2>Contact Us</h2>
          <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim
            export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export
            irure minim illum fore</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>A108 Adam Street, NY 535022, USA</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+155895548855">+1 5589 55488 55</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">info@example.com</a></p>
            </div>
          </div>

        </div>
      </div>
    </section><!-- #contact -->

  </main>

</body>

