/* body */
.container ul li :hover {
  color: #2dde98;
  text-decoration: none;
}

.container .brand-logo {
  font-family: "Concert One";
  text-decoration: none;
}

/* search bar */
.container .search {
  padding-top: 250px;
  padding-left: 45%;
  color: white;
}

@media screen and (max-width: 670px){
    .container .search{
        min-height: 250px;
        padding-left: 50%;
    }
}
