<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
    <nav class="nav-wrapper transparent">
        <div class="container">
          <a href="" class="brand-logo">Share a Book</a>
          <a href="" class="sidenav-trigger" data-target="mobile-menu">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li><a [routerLink]="['/users/u-dashboard']">Dashboard</a></li>
            <li><a [routerLink]="['/users/u-profile']">Profile</a></li>
            <li><a [routerLink]="['/users/u-catalogue']">Catalogue</a></li>
            <li><a [routerLink]="['/users/u-orders']">Orders</a></li>
            <li><a [routerLink]="['/users/u-requests']">Requests</a></li>
            <li><a [routerLink]="['/users/u-cands']">Complaints & Suggestions</a></li>
            <li><a (click)="logout()">Logout</a></li>
          </ul>
          <ul class="sidenav grey lighten-2" id="mobile-menu">
            <li><a href="">Dashboard</a></li>
            <li><a href="">My Profile</a></li>
            <li><a href="">My Catalogue</a></li>
            <li><a href="">My Orders</a></li>
            <li><a href="">Requests for materials</a></li>
            <li><a href="">Complaints & Suggestions</a></li>
            <li><a href="">Logout</a></li>
          </ul>
        </div>
      </nav>
