<header>
	<app-u-navbar></app-u-navbar>
	<div class="pagination justify-content-center">
		<button>USERS</button>
		<button>BOOKSTORES</button>
	</div>
</header>
<body>
	<p>
		<input
			#query
			(keyup)="filter(query.value)"
			type="text" class="form-control" placeholder="Search..">
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Exam Type</th>
				<th>Subject</th>
				<th>Language</th>
				<th>Item Type</th>
				<th>Price</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let book of bookDetails$">
				<td> {{book.bookName}} </td>
				<td> {{book.examType}} </td>
				<td> {{book.subject}} </td>
				<td> {{book.mediumType}} </td>
				<td> {{book.itemType}} </td>
				<td> {{book.price}} </td>
				<td> 
					<a [routerLink]="['/bookItem', book.$key]">View</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>