header{
    background: url(../../../../assets/register.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

header button {
    width: 49%;
    background-color: transparent;
    font-size: 25px;
    color: white;
    border-color: #ff4f81; 
    border-radius: 5px;
    border-width: 2px;
    text-align: left;
    padding: 30px;
    margin-top: 330px;
    margin-left: 2px;
    margin-right: 2px;
}

header button:hover {
    background-color: #2dde98;
    border-color: transparent;
}

input[type="button"] {
    width: 47%;
    padding: 15px;
    margin-left: 5px;
    font-weight: 700;
    color: rgb(53, 53, 53);
    font-size: 18px;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 5px;
    letter-spacing: 0.1px;
    font-family: "Harmattan";
  }
  
  input[type="button"]:hover {
    border: 2px solid rgb(228, 226, 226);
  }
  
  input[type="button"]:active {
    border: 2px solid rgb(228, 226, 226);
  }

a {
    cursor: pointer;
}

ngx-smart-modal{
    text-align: center;
  }
  h5{
    font-size: 14px;
    margin-top: 6px;
    text-align: left;
  }
  #tag{
    font-weight: bold;
  }
  
  .bmodal {
    margin: 10px;
  }

@media screen and (max-width: 670px){
    header{
        min-height: 250px;
    }
}

