<div class="box">
  <div class="container">
    <div class="row">

      <!--Register Bookstores-->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" [routerLink]="['/admin/register-b']">
        <div class="box-part text-center">
          <div class="title">
            <h3>Register Bookstores</h3>
          </div>
        </div>
      </div>

      <!--View & Manage Bookstores-->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" [routerLink]="['/admin/manage-bookstores']">
        <div class="box-part text-center">
          <div class="title">
            <h3>View and Manage Bookstores</h3>
          </div>
        </div>
      </div>

      <!--View & Manage Users-->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" [routerLink]="['/admin/manage-users']">
        <div class="box-part text-center">
          <div class="title">
            <h3>View and Manage Users</h3>
          </div>
        </div>
      </div>

      
      <!--View & Manage Tuition Providers-->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" [routerLink]="['/admin/manage-tuitions']">
        <div class="box-part text-center">
          <div class="title">
            <h3>View and Manage Tuition Providers</h3>
          </div>
        </div>
      </div>

      
      <!--View & Manage Books-->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" [routerLink]="['/admin/manage-book']">
        <div class="box-part text-center">
          <div class="title">
            <h3>View and Manage Book lists</h3>
          </div>
        </div>
      </div>

      <!--View & Manage Suggestion-->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" [routerLink]="['/admin/manage-feedbacks']">
        <div class="box-part text-center">
          <div class="title">
            <h3>View and Manage Suggestions and Complaints</h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>