<div class="box">
  <div class="container">
     <div class="row">
     
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" [routerLink]="['/admin/register-b']">
             
        <div class="box-part text-center">
                      
                      
          <div class="title">
            <h3>Register Bookstores</h3>
          </div>
                
         </div>
      </div>	 
      
       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
             
        <div class="box-part text-center">
                  
          <div class="title">
            <h3>View and Manage Bookstores</h3>
          </div>
                      
                      
         </div>
      </div>	 
      
       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
             
        <div class="box-part text-center">
                      
          <div class="title">
            <h3>View and Manage Users</h3>
          </div>
                      
                      
         </div>
      </div>	 
      
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
             
        <div class="box-part text-center">
                      
          <div class="title">
            <h3>View and Manage Tuition Providers</h3>
          </div>
                      
                      
         </div>
      </div>	 
      
       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
             
        <div class="box-part text-center">
                  
          <div class="title">
            <h3>View and Manage Book lists</h3>
          </div>
                      
                      
         </div>
      </div>	 
      
       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
             
        <div class="box-part text-center">
                      
          <div class="title">
            <h3>View and Manage Suggestions and Complaints</h3>
          </div>
                      
         </div>
      </div>
  
  </div>		
  </div>
</div>
